@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #f58232;
    --color-background-dark: #181a1e;
    --color-background-dark-two: #2f3238;
    --color-background-dark-three: #3c3f46;
    --color-background-ligth: #f6f6f9;
    --color-background-ligth-two: #ebebeb;
    --color-gray: #363949;
    --color-white: #fff;
    --color-ligth: rgba(132, 139, 200, 0.075);
    --color-info: #7d8da1;
    --color-html: #e44d26;
    --color-css: #264de4;
    --color-js: #f7df1e;
    --color-git: #f05133;
    --color-github: #111;

    --card-border-radius: 2rem;

    --box-shadow: 0 2rem 3rem var(--color-ligth);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
}

header{
    height: 100vh;
    width: 400px;
    padding: 15px 30px;
    background-color: var(--color-background-dark);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: .4s;
    z-index: 99;
}

/* ===== START PROFILE ===== */

header .profile{
    text-align: center;
    margin: 10px 0;
}

header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--color-background-dark-two);
}

header .profile h1{
    color: var(--color-white);
    font-weight: 600;
    margin: 10px;
}

header .profile h1 span{
    color: var(--color-primary);
}

header .profile .social-icons a{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-background-dark-two);
    border-radius: 50%;
    text-align: center;
    line-height: 49px;
    color: var(--color-white);
    font-size: 1.5rem;
    transition: .4s;
    margin: 10px 2px;
}

header .profile .social-icons a:hover{
    background-color: var(--color-primary);
}

/* ===== START MENU ===== */

header .menu{
    margin: 2rem 0;
}

header .menu ul li a{
    display: inline-block;
    padding: 8px 10px;
    margin: 8px 0;
    color: var(--color-white);
    font-weight: 400;
    font-size: 15px;
}

header .menu ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: .4s;
}

header .menu ul li a:hover i{
    color: var(--color-primary);
}

header .menu ul li .active i{
    color: var(--color-primary);
}

/* ===== START FOOTER ===== */

header .footer{
    text-align: center;
    color: var(--color-info);
    font-size: 12px;
    letter-spacing: .6px;
    padding: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: .4s;
    width: 400px;
    background-color: var(--color-background-dark);
}

header .footer p a{
    color: var(--color-primary);
}

/* ===== START MOBILE MENU TOGGLE ===== */
#menu-btn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: var(--color-white);
    background-color: var(--color-primary);
    text-align: center;
    line-height: 41px;
    border-radius: 50%;
    z-index: 999;
    display: none;
}

/* ===== START MAIN ===== */
main{
    margin-left: 400px;
    transition: .4s;
}

/* ===== START HOME SECTION ===== */
#home{
    height: 100vh;
    width: 100%;
    background-color: var(--color-background-dark-three);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    position: relative;
}

#home .home-row{
    z-index: 1;;
}

#home .home-row h1{
    font-size: 4rem;
    color: var(--color-white);
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 1rem;
    line-height: 5rem;
}

#home .home-row h1 span{
    color: var(--color-primary);
}

#home .home-row p{
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 500;
}

#home .home-row p span{
    border-bottom: 4px solid var(--color-primary);
}

/* ===== START ABOUT SECTION ===== */
#about{
    padding: 4rem 2rem;
}

/* ===== GLOBAL SUB HEADING  ===== */
.sub-heading{
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;
}

.divider{
    width: 5rem;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 3px;
    margin-bottom: 1rem;
}

#about .divider ~ p{
    color: var(--color-gray);
    font-size: 1rem;
    font-weight: 400;
}

#about .about-col{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

#about .about-col .img-col{
    flex-basis: 30%;
    text-align: center;
}

#about .about-col .img-col img{
    width: 90%;
}

#about .about-col .info-col{
    flex-basis: 70%; 
}

#about .about-col .info-col h3{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .5px;
    margin-top: -13px;
}

#about .about-col .info-col p{
    color: var(--color-info);
    font-size: 1rem;
    letter-spacing: .5px;
    font-style: italic;
}

#about .about-col .info-col .icon-list-col{
    display: flex;
    margin-top: 1rem;
    gap: 3rem;
}

address{
    font-style: normal;
}

#about .about-col .info-col .icon-list-col .icon-list ul li{
    margin: 1rem 0;
}

#about .about-col .info-col .icon-list-col .icon-list ul li i{
    color: var(--color-primary);
}

#about .about-col .info-col .icon-list-col .icon-list ul li strong{
    color: black;
    font-weight: 600;
    margin-right: 2px;
}

#about .about-col .info-col .icon-list-col .icon-list ul li span{
    color: var(--color-gray);
    font-weight: 500;
    font-size: 1rem;
}

#about .about-col .info-col .icon-list-col .icon-list ul li span a{
    color: var(--color-gray);
    font-style: italic;
}

#about .about-col .info-col .icon-list-col .icon-list ul li span a:hover{
    color: var(--color-primary);
}

/* ===== START SKILL SECTION ===== */
#skills{
    background-color: var(--color-background-ligth);
    padding: 4rem 2rem;
}

#skills .insights{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

#skills .insights > div{
    background-color: var(--color-white);
    margin-top: 10px;
    padding: 3rem 0;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .35s;
    cursor: pointer;
}

#skills .insights:hover > :not(:hover){
    opacity: .4;
    transform: scale(.9);
}

#skills .insights > div i{
    font-size: 3rem;
    color: var(--color-html);
}

#skills .insights > div.skill-css i{
    color: var(--color-css);
}

#skills .insights > div.skill-js i{
    color: var(--color-js);
}

#skills .insights > div.skill-git i{
    color: var(--color-git);
}

#skills .insights > div.skill-github i{
    color: var(--color-github);
}

#skills .insights > div p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

#skills .insights > div p span{
    font-size: 15px;
}

#skills .insights > div .skill-outter-line{
    width: 80%;
    height: 10px;
    background-color: var(--color-info);
    margin-top: 10px;
    border-radius: 15px;
}

#skills .insights > div .skill-outter-line .skill-inner-line{
    height: 10px;
    background-color: var(--color-html);
    border-radius: 15px;
}